// reusable containers
* {
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: HelveticaNeue, Arial, sans-serif;
}

.site-container,
.site-container:after {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.site-container {
  //padding-top: 6.6rem;
}

.background-image {
  background-image: url("/img/image_junglebg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.symbol,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundcloud__embed {
  width: 34rem;
  height: 24.5rem;
  margin: 4rem auto 4rem;
  overflow: hidden;

  @media (min-width: 600px) {
    //width: 80vw;
  }
}

.soundcloud__controls {
  display: flex;
  justify-content: center;
  transition: all .7s ease-in-out;
  transition-delay: .3s;
  width: 0;
  overflow: hidden;
}

.soundcloud__control {
  font-size: 3rem;
  margin: 0 1rem;
  color: #bcbcbc;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.social-navi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;

  li + li {
    margin-left: 2rem;
  }

  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  a {
    color: #bcbcbc;
    font-size: 4.0rem;

    &:hover {
      color: $white;
    }
  }

  .btn-epk {
    border: .4rem solid #bcbcbc;
    height: 3.6rem;
    position: relative;
    //top: -.4rem;
    color: #bcbcbc;
    font-size: 1.8rem;
    font-weight: bold;
    padding: .5rem;
  }
}

.invisible {
  opacity: 0;
}

.fold {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: all .2s ease-in-out;
}

.twitter-follow-button {
  text-indent: -9999px;
  margin-right: 2rem;
}

.site-header {
  background-color: #0f0f0f;
  height: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.site-footer {
  background-color: black;
  color: #282828;;
  font-size: 1.2rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    text-align: center;
    margin: .5rem;
  }

  a {
    color: #282828;;

    &:hover {
      color: #fff;
    }
  }

  .copyright {
    letter-spacing: .2rem;
  }
}

/*
 logos branding
*/

.logo {
  padding: 10.6rem 0 4rem;

  img {
    width: 26rem;
  }
}

.symbol {
  margin-top: 3rem;

  img {
    width: 100%;
  }
}

.album {

}

.album__artwork {
  width: 34rem;

  img {
    display: block;
    width: 100%;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.album__buttons {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  margin: 0 auto;
}

.album__buttons__button {
  &:not(:first-child) {
    margin-left: 2rem;
  }
}
