// reusable containers
html {
  font-size: 62.5%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: HelveticaNeue, Arial, sans-serif;
}

.site-container,
.site-container:after {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.site-container {
  background-image: url("/img/image_bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.site-container:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo,
.site-footer {
  position: relative;
  z-index: 10;
  padding: 0 1rem;
}

.symbol,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.symbol {
  margin-top: 3rem;
  
  img {
    width: 11.5rem; 
    height: 11.5rem;
  }
}

.logo {
  margin-top: 4rem;
  
  img {
    max-width: 68rem;
    width: 80vw;
  }
}

.soundcloud-embed {
  width: 80vw;
  margin: 4rem auto 4rem;
  position: relative;
  z-index: 10;
  height: 20.5rem;
  overflow: hidden;
}

.site-footer {
  background-color: #333;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .social-navi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;

    li + li {
      margin-left: 1rem;
    }

    li {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }

    a {
      font-size: 4.0rem;
      color: #bcbcbc;

      &:hover {
        color: $white;
      }
    }

    .btn-epk {
      border: .4rem solid #bcbcbc;
      height: 3.6rem;
      position: relative;
      top: -.7rem;
      color: #bcbcbc;
      font-size: 1.8rem;
      font-weight: bold;
      padding: .5rem;
    }
  }
}
