{% extends 'layouts/default.html' %} {% block content %}

<div class="site-container">
    <figure class="logo">
        <img src="/img/naybr_onimask_00.svg" alt="Naybr Music Logo">
    </figure>
</div>

<footer class="site-footer">
    <ul class="social-navi">
        <li>
            <a href="https://soundcloud.com/naybr" target="_blank" class="icon-soundcloud"></a>
        </li>
        <li>
            <a href="https://twitter.com/naybrmusic" target="_blank" class="icon-twitter"></a>
        </li>
        <li>
            <a href="https://www.facebook.com/naybrmusic" target="_blank" class="icon-facebook"></a>
        </li>
        <li>
            <a href="https://instagram.com/naybrmusic/" target="_blank" class="icon-instagram"></a>
        </li>
        <li>
            <a href="https://www.dropbox.com/sh/ofbjl10wfmhyh26/AABh_tG9noS3C3IvcfPJ8LD5a?dl=0" target="_blank" class="btn-epk">EPK</a>
        </li>
    </ul>
</footer>

{% endblock %}