<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page }} | Template</title>

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">

        {% for cssFile in cssFiles %}
            <link rel="stylesheet" href="{{ cssFile }}">
        {% endfor %}


        {% block styles %} {% endblock %}
    </head>

    <body{% if page %} class="{{ page.toLowerCase().replace(' ', '-') }}"{% endif %}>

        {% block content %} {% endblock %}

    </body>

    {% block scripts %}
        {% for jsFile in jsFiles %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endblock %}
</html>
